<div style="text-center">
    <h3>Who doesn't love Saturday mornings at a Farmers Market?</h3>
    <p>Last year was difficult for everyone including our local farmers markets. Farmers markets have long served as a
        way
        to increase food access in low-income areas, support small farmers and
        local businesses, and bolster a strong, locally empowering economy. Now, with food insecurity heightened, the
        agricultural food supply chain at risk, and local economies devastated by businesses closures, farmers markets
        can fill a critical health and economic gap. But they need federal, state, and local commitment to allow them to
        remain open and safe as essential services amid the pandemic. We have taken a lot of things into concideration
        and decided we NEED to step up and help our local businesses get back on their feet and support them to the best
        of our abilities. Despite their potential to meet essential health, food access, and economic needs in an
        ever-evolving public
        health crisis, farmers markets are particularly vulnerable right now and our mission is to help them. With our
        website LOCAL and fresh products will be deliver right to your door or you can pick it up at your earliest
        convenience.</p>
    <h3>We would like to thank all of you for your support and love.</h3>
    <p>Catie, Mogi, James and Mila.</p>
    <h3>Special thanks to Mitch for helping us out with this website! </h3>
    <p>If you have any questions or you would like to be included on our website please email us at:<a
            href="https://www.yahoo.com" target="_blank">ninjas@codingdojo.com</a></p>
</div>