@{
    ViewData["Title"] = "Login/Register";
}

    <h1>Welcome to Farmers Market</h1>
<div class="d-flex justify-content-around">
    <partial name="_Register"/>
    <partial name="_Login"/>
</div>
